.main {
  max-width: 1000px;
}

.close-modal-btn,
#close-add-form-btn,
#close-edit-form-btn {
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content h3 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 24px;
}

.modal-content .input {
  background-color: rgb(241, 241, 240);
  font-family: inherit;
  font-size: 16px;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 4px;
  outline: none;
}

.modal-content .input.error {
  border: 1px solid red;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
}

.ingredient-container {
  position: relative;
  width: 40%;
}

.ingredients-list .remove-ingredient {
  position: absolute;
  top: 14px;
  left: 144px;
  cursor: pointer;
  font-size: 12px;
}

.ingredients-list .plus-ingredient {
  position: absolute;
  top: 11px;
  left: 168px;
  cursor: pointer;
  font-size: 20px;
}

.ingredients-list .plus-ingredient:hover,
.ingredients-list .remove-ingredient:hover {
  color: rgb(75, 77, 58);
}

.input.directions {
  resize: none;
  height: 250px;
}

.modal-content .submit-btn {
  background-color: rgb(241, 241, 240);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border: 2px solid rgb(78, 77, 77);
  border-radius: 4px;
  outline: none;
  font-weight: bold;
  padding: 6px 0;
  margin: 5px 0;
}

.modal-content .submit-btn:hover {
  background-color: rgb(233, 232, 232);
}

.modal-content .submit-btn:active {
  transform: scale(0.99);
}

.modal-content .error-message {
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
